@import '../base/variables';
@import '../base/listas';




    .contenedor-contacto{
        
        background-color: beige;
    color: black;
    font-family: 'Quicksand', sans-serif;
        padding: 50px ;
}

 .contactanos{
            text-align: center;
            font-size: 30px;
        }
      
 .contacto-caja{
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.452) ;
              
 }
 .contacto-caja > * {
padding: 60px ;
 }
 .contacto-formulario{
     background-color: nth($bg-color,5);
     h2{
         padding-bottom: 25px;
         text-align: center;
         padding-top: 5px;
     }
  .bloque{
      grid-column: 1 /3;

  }
    }

 .contacto-formulario   form button,
 .contacto-formulario   form input,
 .contacto-formulario   form textarea{

    width: 95%;
    padding: 11px;
    border: none;
    background: none;
    border-bottom: 2.5px solid beige;
    outline: none;
 }
 .contacto-formulario form button{
     border: none;
     background-color: beige;
     padding: 10px;


 }
 .contacto-formulario form{
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 45px;
 }
.boton-contacto:hover,
.boton-contacto:focus{
    background: gray;
    color: white;
    transition: background-color 0.5s ease-out;
}

.contacto-informacion{
    background-color: nth($bg-color , 6 );
}
.contacto-informacion h3,
.contacto-informacion ul,
.contacto-informacion p{
    text-align: center;
    margin: 0 0 8px 0;
    padding: 19px;

}
.contacto-informacion ul{
    
    list-style: none;
}
.contacto-informacion ul li{
    padding: 3px;
}
@media screen and (min-width:1083px){
.contacto-caja{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
}
@media screen and (max-width:715px) {
    .contenedor-contacto{
        
        padding: 10px;
    }
    .contacto-formulario,
    .contacto-informacion{
        padding: 1px;
    }
}
