@import '../base/variables';
@import '../base/listas';
.seccion-contacto{
    background-color:  nth($bg-color, 2);
    font-family: $font-family;
    

}
.contactos{
    font-size: 30px;
    padding: 5%;
    font-family: $font-family;
    text-decoration: none;
    color: black;}