@import '../base/variables';

.seccion-contacto{
    background-color: beige;
    font-family: $font-family;
    

}
.contactos{
    font-size: 30px;
    padding: 5%;
    font-family: $font-family;
    text-decoration: none;
    color: black;}