@import '../base/variables';
@import '../base/listas';
@import '../base/mixins';



.sucursales{
    background-color: nth($bg-color, 2);
    font-size: 30px;
    list-style:circle;
    display: inline-block;
    padding: 20px 25% 100px 25%;
    font-family: $font-family;
    text-decoration:none;
   
    
  
}
.mapeo{background-color: nth($bg-color, 2);
      
}

.mapita{
    @include mapa(flex, center);
}