@import '../base/variables';
@import '../base/listas';
.mapita{
    display: flex;
justify-content: center;
}
.sucursales{
    background-color: nth($bg-color, 2);
    font-size: 30px;
    list-style:circle;
    display: inline-block;
    padding: 20px 25% 100px 25%;
    font-family: $font-family;
  
}
.mapeo{background-color: nth($bg-color, 2);}