@import '../base/variables';
@import '../base/listas';

.carrusel-index {
    margin-top: 110px;
background-color: nth($bg-color,3 );

    
}
.titulo-principal {
    font-size: 60px;
    color: nth($bg-color ,8 );
    background-image:nth($bg-color , 4);
    font-weight: hold;
    text-align: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    span{
        color:nth($bg-color, 9 );
    }
}

.titulo-2 {
    color: black;
    font-size: 35px;
    text-align: center;
    font-style: italic;
    background-color: nth($bg-color, 2);
    font-family: 'Quicksand', sans-serif;
    
    margin-bottom: 0;
    padding-bottom: 13px;
}