@import '../base/variables';

.titulo-principal{
    font-size: 60px;
    color: aquamarine;
    background-image: linear-gradient(to bottom, white, beige);
    font-weight: hold;
    text-align: center;
    margin: 0;
font-family:$font-family;


    
}
.titulo-2{
color: black;
font-size: 35px;
text-align: center;
font-style: italic;
background-color: beige;
font-family: $font-family;
margin-bottom: 0;
padding-bottom: 13px;
}
